.contact{
    display: flex;
    flex-direction: row;
    float: left;
    background-color: rgb(236, 236, 236);
    margin: 3em;
    padding: 6em;
}

@media (max-width: 350px){
    .contact{
        background-color: white;
        padding: 4em;
    }
}

@media (max-width: 375px){
    .contact{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:667px) and (min-width:375px){
    article .contact{
        width: auto;
    }
}

@media (max-width: 378px){
    .contact{
        margin: 0;
        padding: 1.5em;
        font-size: 1.875rem;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 350px){
    .readContact{
        font-family: monospace;
        font-size: 1.875rem;
        font-weight: bold;
        color: blue;
    }
}

@media (max-width: 425px){
    .contact{
        flex-direction: column;
        margin: 0;
        padding: 2em;
    }
}

@media (max-width: 1085px) and (min-width: 900px){
    .contact{
        margin: 0px;
    }
}

@media (max-width:1024px) and (min-width:900px){
    .contact{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:1630px) and (min-width:900px){
    .networks{
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
    }
}

@media (max-width: 1024px) and (min-width: 900px){
    .networks{
        display: block;
    }
}

@media (max-width:1630px) and (min-width:900px){
    .titleContact{
        font-size: 2.5rem;
    }
}

@media (max-width:1630px) and (min-width:900px){
    .titleReadme{
        font-size: 2.5rem;
    }
}

@media (max-width:1630px) and (min-width:900px){
    .readContact{
        font-size: 1.4375rem;
    }
}

@media (max-width:1630px) and (min-width:900px){
    .nameLastname{
        font-size: 1.4375rem;
    }

}

@media (max-width:1024px) and (min-width:900px){
    .nameLastname{
        font-size: 1.875rem;
    }
}

@media (max-width:1630px) and (min-width:900px){
    .order{
        font-size: 1.4375rem;
    }
}

@media (max-width:1024px) and (min-width:900px){
    .order{
        font-size: 1.875rem;
    }
}

.contactMe, .readMe{
    background-color: white;
    display: flex;
    flex-direction: column;
    /*margin: 5em;*/
    width: 100%;
    border: 1px solid white;
    border-radius: 1px;
}

@media (max-width: 350px){
    .contactMe, .readMe{
        margin-left: -3.125rem;
    }
}

@media (max-width: 375px){
    .contactMe, .readMe{
        width: 26.4375rem;
    }
}

@media (max-width: 425px){
    .contactMe, .readMe{
        margin: 0;
        width: 40.625rem;
    
}

.titleContact, .titleReadme{
    display: flex;
    justify-content: left;
    padding: 1em;
    margin-top: 1em;
    font-size: 2em;
}

@media (max-width: 350px){
    .titleContact, .titleReadme{
        font-size: 2.5rem;
        font-family: monospace;
        font-weight: bold;
        margin-left: -2.8125rem;
    }
}

@media (max-width:900px) and (min-width:320px){
    .titleContact{
        font-size: 3.125rem;
    }
}

@media (max-width:900px) and (min-width:320px){
    .titleReadme{
        font-size: 3.125rem;
    }
}

.networks{
    display: flex;
    flex-direction: column;
}


.go{
    text-decoration: none;
    color: #BF0000;
}
/*.icon{
    color: #8a197b;
}*/
.clic :hover{
    color: #8a197b;
}

@media (max-width:350px){
    .clic{
        font-size: 1.75rem;
    }
}

.icon :hover{
    color: #8a197b ;
}
.readContact{
    margin-left: 6%;
    margin-right: 15%;
}

@media (max-width: 375px){
    .readContact{
        font-size: 1.25rem;
    }
}

@media (max-width:900px) and (min-width:320px){
    .readContact{
        font-size: 2.5rem;
    }
}

form{
    margin-left: 4%;
}

input{
    height: 6vh;
    width: 30%;
    margin: 1em;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: #CCCCCC;
}

@media (max-width: 350px){
    input{
        height: 15vh;
        width: 145%;
        font-size: 1.3125rem;
    }
}

@media (max-width: 375px){
    input{
        width: 90%;
        height: 8vh;
        font-size: 0.9375rem;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    input{
        width: 90%;
        height: 9vh;
        font-size: 0.6875rem;
    }
}

@media (max-width: 378px){
    input{
        font-size: 2.1875rem;
    }
}

@media (max-width: 425px){
    input{
        width: 60%;
        font-size: 1.25rem;
    }
}

@media (max-width:900px) and (min-width:320px){
    input{
        width:auto;
        height: 7.5rem;
        font-size: 40px;
    }
}


.form, .order{
    display: block;
    margin-left: 0.3em;
}

@media (max-width:350px){
    .form, .order{
        width: 12.5rem;
        font-size: 2.5rem;
        font-family: monospace;
        font-weight: bold;
        color: red;
    }
}

@media (max-width: 375px){
    form label{
        font-size: 1.375rem;
    }
}

@media (max-width: 425px){
    form label{
        font-size: 1.25rem;
    }
}

@media (max-width:900px) and (min-width:320px){
    form label{
        font-size: 2.5rem;
    }
}


textarea{
    height: 30vh;
    width: 90%;
    border-radius: 0.3125rem;
    border: 2px solid grey;
    background-color: #CCCCCC;
}

@media (max-width: 350px){
    textarea{
        width: 160%;
        height: 35vh;
        font-size: 1.875rem;
    }
}

@media (max-width: 375px){
    textarea{
        font-size: 1.25rem;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    textarea{
        font-size: 0.6875rem;
    }
}

@media (max-width: 378px){
    textarea{
        font-size: 2.8125rem;
    }
}

@media (max-width: 425px){
    textarea{
        font-size: 2rem;
    }
}

@media (max-width:900px) and (min-width:320px){
    textarea{
        font-size: 2.5rem;
        width: auto;
    }
}

.send{
    height: 4vh;
    width: 16%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: blue;
    color: white;
}

@media (max-width: 350px){
    .send{
        width: 100%;
        height: 15vh;
        font-size: 2.8125rem;
    }
}

@media (max-width: 375px){
    .send{
        width: 50%;
        height: 8vh;
        font-size: 1.5625rem;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    .send{
        width: 50%;
        height: 6vh;
    }
}

@media (max-width: 378px){
    .send{
        font-size: 3.125rem;
    }
}

@media (max-width: 425px){
    .send{
        font-size: 1.5625rem;
    }
}
@media (max-width:900px) and (min-width:320px){
    .send{
        width: auto;
        font-size: 3.125rem;
    }
}

.send:hover{
    color: #BF0000;
    cursor: pointer;
}
form label{
    display: block;
    margin: 5px 0px 10px 0px;
}
