.back{
    text-decoration: none;  
    border: 1px solid black;
    /*display: flex;
    justify-content: center;*/
    padding-right: 5em;
}



@media (max-width:350px){
    .back{
        font-size: 60px;
    }
}


/*.me{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 0%;
    border: 1px solid black;
}*/

footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

@media (max-width: 350px){
    footer{
        width: 800px;
    }
}

.end{
    margin-left: 20%;
    padding-top: 5%;
    font-size: 1.2em;
}
.me{
    margin-left: 25%;
    padding-top: 5%; 
    margin-right: 10%;
}

@media (max-width: 350px){
    .me{
        font-size: 30px;
        margin-left: 3%;
        margin-left: 3%;
    }
}

.going{
    text-decoration: none;  
    justify-content: center;
    padding-right: 5em;
    margin-right: 6%;
}

@media (max-width: 350px){
    .going{
        padding-right: 2.5em;
    }
}

.going :hover{
    color: #8a197b;
    cursor: pointer;
}
.love{
    justify-content: center;
    padding-right: 5em;
    /*margin-right: 0;*/
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.2em;
    margin-left:40%;
}

@media (max-width: 350px){
    .love{
        font-size: 4em;
    }
}

@media(max-width:1200px){
    body{
        font-size: 14px;
    }
}

