.back{
    text-decoration: none;  
    border: 1px solid black;
    /*display: flex;
    justify-content: center;*/
    padding-right: 5em;
}



@media (max-width:350px){
    .back{
        font-size: 3.75rem;
    }
}

@media (max-width: 375px){
    .back{
        padding-right: 2em;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    .back{
        padding-right: 1em;
    }
}

footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

@media (max-width: 350px){
    footer{
        width: 62.5rem;
    }
}

@media (max-width: 375px){
    footer{
        width: 43.75rem;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    footer{
        width: 710px;
    }
}

.end{
    margin-left: 20%;
    padding-top: 5%;
    font-size: 1.2em;
}

.me{
    margin-left: 25%;
    padding-top: 5%; 
    margin-right: 10%;
}

@media (max-width: 350px){
    .me{
        font-size: 30px;
        margin-left: 3%;
        margin-left: 3%;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    .me{
        margin-left: 15%;
    }
}

.going{
    text-decoration: none;  
    justify-content: center;
    padding-right: 5em;
    margin-right: 6%;
}

@media (max-width: 350px){
    .going{
        padding-right: 2.5em;
    }
}

@media (max-width: 375px){
    .going{
        padding-right: 3em;
    }
}

.going :hover{
    color: #8a197b;
    cursor: pointer;
}
.love{
    justify-content: center;
    padding-right: 5em;
    /*margin-right: 0;*/
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.2em;
    margin-left:40%;
}

@media (max-width: 350px){
    .love{
        font-size: 4em;
        margin-right: 50%;
    }
}

@media (max-width: 375px){
    .love{
        font-size: 1.5em;
    }
}

@media(max-width:1200px){
    body{
        font-size: 0.875rem;
    }
}

