*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.proyects{
    background: rgb(0,17,103);
    background: radial-gradient(circle, rgba(0,17,103,1) 0%, rgba(228,46,83,1) 100%);
    color: black;
    width: 100%;
    height: 250vh;
}

@media (max-width: 320px){
    .proyects{
        height: auto;
    }
}

@media (max-width: 350px){
    .proyects{
        width: 62.5rem;
    }
}

@media (max-width: 375px){
    .proyects{
        width: 43.75rem;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    .proyects{
        height: 380vh;
    }
}

@media (max-width: 378px){
    .proyects{
        width: 40rem;
    }
}

@media (max-width: 425px){
    .proyects{
        width: 43.75rem;
    }
}

@media (max-width: 1024px) and (min-width: 900px){
    .proyects{
        height: auto;
    }
}

.title-proyects{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.4375rem;
    height: 4em;
    padding-top: 9.375rem;
}

@media (max-width: 350px){
    .title-proyects{
        font-size: 3.5625rem;
    }
}

@media (max-width: 378px){
    .title-proyects{
        font-size: 4rem;
    }
}

@media (max-width: 425px){
    .title-proyects{
        font-size: 3rem;
    }
}

.readProyect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 1px solid black;*/
    margin-left: 28%;
    margin-right: 25%;
    font-size: 1.3em;
    color: black;
    padding-top: 1.25rem;
}

@media (max-width:350px){
    .readProyect{
        font-size:  2.1875rem;
        color: steelblue;
    }

}

@media (max-width: 378px){
    .readProyect{
        font-size: 3em;
    }
}

.styleProyect{
    display: flex;
    flex-direction: column;
    border: 1px solid #3F3D56;
    align-items: center;
    padding: 2em;
    background-color: white;
    border-radius: 5px;
    width: 15%;
}

@media (max-width: 350px){
    .styleProyect{
        border-radius: 31.25rem;
        height: 9rem;
    }
}

@media (max-width: 375px){
    .styleProyect{
        width: 25%;
        height: 16.25rem;
        margin: 0;
    }
}

@media (max-width: 640px) and (min-width:360px){
    .styleProyect{
        width: 30%;
        
    }
}

@media (max-width: 378px){
    .styleProyect{
        height: 25rem;
    }
}

@media (max-width: 425px){
    .styleProyect{
        height: 16.25rem;
    }
}

.firstLine, .secondLine, .thirdLine{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3.75rem;
    width: 100%;
    height: 18%;
}

@media (max-width: 1024px) and (min-width: 900px){
    .firstLine, .secondLine, .thirdLine{
        height: auto;
    }
}

figure{
    padding-top: 1.875rem;
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 350px){
    figcaption{
        color: steelblue;
        font-size: 2rem;
        padding-top: 1px;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    figcaption{
        padding-top: 0.0625rem;
    }
}

@media (max-width: 378px){
    figcaption{
        font-size: 2rem;
    }
}

@media (max-width:900px) and (min-width:320px){
    figcaption{
        font-size: 2rem;
    }
}

.styleProyect:hover{
    background-color: #96969c;
    cursor: pointer;
}

@media (max-width:900px) and (min-width:320px){
    .styleProyect{
        width: 33%;
        height: auto;
    }
}
.thirdLine{
    justify-content: left;
    padding-left: 9%;
    /*padding-top: 60px;*/
    width: 110%;
}
