*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow-x: hidden;*/
}
body{
    font-size: 1rem;
}

@media (max-width: 350px){
    body{
        width: 100%;
    }
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    height: 8rem;
    box-shadow: 4px 10px 20px 3px rgba(179,179,245,1);
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: black;
    background-image: url(https://img.freepik.com/vector-gratis/vector-circulo-tecnologia-luz-azul-bombilla-sobre-fondo-tecnologia_43778-444.jpg?size=626&ext=jpg&ga=GA1.2.288673660.1597536000);
    background-size: 16.5625rem;
    background-repeat: no-repeat;
}


.menu{
    margin-top: 4rem;
    margin-right: 10rem;
    font-size: 1.75rem;
    list-style: none;
}


@media (max-width: 350px){
    .menu{
        font-size: 10rem;
        /*margin-right: -9.0625rem;*/
        color: white;
        
    }
}


.iam{
    margin-top: 7.8125rem;
}

/*@media(max-width:900px){
    header{
        flex-direction: column;
    
    }
}*/


ul{
    list-style: none;
    display: flex;
    margin-right: 6.25rem;
    padding-top: 3rem;
}

/*@media (max-width:425px){
    ul{
        font-size: 0.625rem;
        margin-right: 80rem;
    }
}*/

.menu{
    color: #841fdd;
}

ul li{
    margin-left: 0.9375rem;
    /*border-radius: 5px;*/
    /*background-color: grey;*/
    font-size: 1.3em;
    padding: 0.5em;
    line-height: 2;
}
li :hover{
    color: #3F3D56 ;
}

@media(max-width:350px){
    .hola, .conocimientos, .proyectos, .contacto{
        display: none;
    }
}

.hola{
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: white;
}
    

.conocimientos{
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: white;
}
.proyectos{
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: white;
}
.contacto{
    text-decoration: none;
    color: white;
    border-radius: 3.125rem;
    background-color: #BF0000;  
    padding: 0.7em;
}
main h2{
    padding-top: 13vh;
    font-size: 3.125rem;
    margin-left: 3.125rem;
}
main h1{
    padding-top: 8vh;
    font-size: 5.3125rem;
    color: #BF0000;
    margin-left: 2.6875rem;
}
.description{
    font-size: 1.3em;
    padding-top: 10vh;
    margin-left: 3.125rem;
}

@media (max-width:350px){
    .description{
        font-size: 4em;
    }
}

@media (max-width: 375px){
    .description{
        font-size: 1.8em;
    }
}

@media (max-width: 378px){
    .description{
        font-size: 3em;
    }

}

.world{
    display: flex;
    flex-direction: row-reverse;
    /*border: 1px solid black;*/
    margin-left: auto;
    height: 95vh;
}

@media screen and (max-width:350px){
    .world{
        /*height: auto;*/
        display: none;
    }
}

@media screen and (max-width:378px){
    .world{
        display: none;
    }
}

main{
    display: flex;  
}

@media(max-width:350px){
    main h2{
        font-size: 5rem;
    }
}

footer{
    display: flex;
    border: 1px solid black;
    padding-left: 10%;
}
.doingButton{
    font-size: 0.9375rem;
    height: 2.5em;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #BF0000;  
    padding: 0.5em;
    cursor: pointer;
    width: 60%;
    margin-left: 13%;
    margin-top: 7%;
}

@media (max-width: 350px){
    .doingButton{
        height: 6em;
        width: 90%;
    }
}

@media (max-width: 375px){
    .doingButton{
        width: 80%;
    }
}

@media (max-width: 640px) and (min-width: 360px){
    .doingButton{
        width: 80%;
    }
}

@media (max-width: 378px){
    .doingButton{
        height: 5em;
        font-size: 1.5rem;
    }
}

@media (max-width: 900px) and (min-width: 320px){
    .doingButton{
        margin-left: 10%;
    }
}

.doing{
    margin-top: 10%;
    margin-left: 13%;
    color: white;
    text-decoration: none;
}

@media (max-width: 350px){
    .doing{
        font-size: 2.0625rem;
    }
}


.quote{
    color: white;
    font-size: 2em;
}

 